@page "/meus-pedidos"
@using crudcomdb.Models
@using crudcomdb.Interfaces
@inject IPedidoRepository _pedidoRepo
@rendermode InteractiveServer

<h3>Meus Pedidos 📦</h3>

@if (pedidos == null)
{
    <p>Carregando...</p>
}
else if (!pedidos.Any())
{
    <p>Você ainda não fez pedidos.</p>
}
else
{
    @foreach (var pedido in pedidos)
    {
        <div class="card mb-3 shadow">

            <!-- HEADER CLICÁVEL -->
            <div class="card-header d-flex justify-content-between align-items-center"
                 style="cursor:pointer"
                 @onclick="() => TogglePedido(pedido.Id)">

                <div>
                    <strong>#@pedido.Id</strong> |
                    @pedido.Data.ToLocalTime().ToString("dd/MM/yyyy HH:mm") |
                    Status: @pedido.Status |
                    Pago: @(pedido.Pago ? "Sim" : "Não") |
                    Total: R$ @pedido.Total
                </div>

                <span>
                    @(pedidoExpandido == pedido.Id ? "▲" : "▼")
                </span>
            </div>

            <!-- CONTEÚDO -->
            @if (pedidoExpandido == pedido.Id)
            {
                <div class="card-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Qtd</th>
                                <th>Preço Unitário</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in pedido.Itens)
                            {
                                <tr>
                                    <td>@item.Produto?.Nome</td>
                                    <td>@item.Quantidade</td>
                                    <td>R$ @item.PrecoUnitario</td>
                                    <td>R$ @(item.PrecoUnitario* item.Quantidade)</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            }
        </div>
    }
}

@code {
    List<Pedido> pedidos = new();
    int? pedidoExpandido = null;

    protected override async Task OnInitializedAsync()
    {
        pedidos = await _pedidoRepo.Listar();
    }

    void TogglePedido(int id)
    {
        if (pedidoExpandido == id)
            pedidoExpandido = null;
        else
            pedidoExpandido = id;
    }
}